* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #e5e5e5;
}

h1,
h2,
h3 {
  font-family: "Crimson Text", serif;
}

p {
  font-family: "Poppins", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}


/* Facilities Section */
#facilities {
  display: grid;
  grid-template-columns: 1fr;
}

.box-1,
.box-2,
.box-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


#facilities img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}


/* Facilities Heading */
.heading {
  width: 85px;
  border-bottom: 3px solid #a67153;
  margin: 2rem 0;
}

.heading h2 {
  font-size: 20px;
  width: 250px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #595959;
  font-family: "Poppins", sans-serif;
}

/* Sections with text */
.text {
  padding: 3rem 2rem;
}


.btn a:hover {
  text-decoration: none;
}


/* Left side of the page */
.section-left {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-left h3 {
  color: #035951;
  font-weight: bold;
  margin-bottom: 1rem;
}

.section-left p {
  color: #595959;
  line-height: 44px;
}

.section-left button,
.section-left a {
  background: #035951;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  margin-top: 1rem;
  border-radius: 5px;
}

/* Right Section of the page */
.section-right img {
  width: 100%;
  height: auto;
  place-items: center;
  padding: 0;
}


/* Media Query for 900px and below */
@media (max-width: 900px) {
  
  .box-1,
  .box-2,
  .box-3 {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
  .section-right {
    grid-row: 1/2;
    width: 95%;
  }

  .box-1 > div.section-right img {
    justify-items: center;
    padding: 0rem;
  }

  .section-left {
    padding: 2rem;
    text-align: left;
    align-items: flex-start;
  }

  .text {
    padding: 1rem;
    margin: 1rem 0;
  }
}

/* Media Query 1300px and above */
@media (min-width: 1300px) {
  .text {
    padding: 8rem 2rem;
  }
}
